@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e9bb48;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 125px;
  }


div.container {
    background-color: #cf9d1e;
    min-width: 500px;
    min-height: 60vh;
    padding: 5rem;
    box-shadow:rgba(255, 255, 255, 0.564)  0px 7px 29px 0px;
    border-radius: 40px;

}

div h1 {
    font-weight: 700;
    margin-bottom: 3rem;
    position: relative;
    color: white;
}

div h1::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 35px;
    bottom: 4px;
    left: 0;
    border-radius: 8px;
    background-color: #e9bb48;
}

form {
    display: flex;
    flex-direction: column;
}

.input-single {
    position: relative;
}



form .input-single:first-child {
    margin-bottom: 1.5rem;
}

.input-single .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background:rgba(255, 255, 255, 0.827);
}

.input-single .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: #e9bb48;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-single input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-single input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.827);
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.input-single input::placeholder {
    color:rgba(255, 255, 255, 0.827);
}

form input[type="submit"] {
    margin-top: 3rem;
    padding: 0.4rem;
    width: 100%;
    background-color: #e9bb48;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-image: url(./imagens/pata2.png);
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background-color: #e9be48;
    background-image: url(./imagens/pata2.png);
}