<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="imagens/logonomecompleto.png" type="image/x-icon">
    <link rel="stylesheet" href="duvidas.css">
    <title>Dúvidas Gerais</title>
</head>

<body>

    <div class="menu">
        <a href="../index.html" class="logo">
            <img src="imagens/logonomecompleto.png" alt="Logo">
        </a>
        <ul>
            <li><a href="index.html">Achei Pet</a></li>
            <li><a href="index3.html">Login|Entrar</a></li>
        </ul>
    </div>

 <!--banner fundo-->
 <div class="banner">
</div>

    <!--h1 frase no banner-->
    <div class="banner-message">
        <h1>Dúvidas Gerais</h1>
    </div>

     <!-- Cards-->
     <div class="cards">
        <div class="card">
            <div class="first-content">
                <span>Canais de contato</span>
            </div>
            <div class="second-content">
                <span>O usuário pode entrar em contato conosco pelos canais de atendimento que são por email ou whatsapp.</span>
            </div>
        </div>
    
        <div class="card">
            <div class="first-content">
                <span>Não consigo acessar minha conta</span>
            </div>
            <div class="second-content">
                <span>Caso o usuário perca a senha ou não consiga efetuar o acesso em nossa plataforma, nos encaminhe uma mensagem pelo nosso email da central ou tente realizar a troca da senha na página CADASTRO.</span>
            </div>
        </div>

        <div class="card">
            <div class="first-content">
                <span>Doações</span>
            </div>
            <div class="second-content">
                <span>Aceitamos doações em geral, seja alimentos para pet, brinquedos ou PIX para ajudar a org.</span>
            </div>
        </div>

        <div class="card">
            <div class="first-content">
                <span>Vendas</span>
            </div>
            <div class="second-content">
                <span>A ong ACHEI PET não participa de vendas e nem destribuição de medicamentos para pets.</span>
            </div>
        </div>

        <div class="card">
            <div class="first-content">
                <span>Castração</span>
            </div>
            <div class="second-content">
                <span>Ajudamos na divulgação de castração de pets na regição de POÁ, ITAQUAQUECETUBA e SUZANO.</span>
            </div>
        </div>
    
        <div class="card">
            <div class="first-content">
                <span>Vendas <br>de animais</span>
            </div>
            <div class="second-content">
                <span>ACHEI PET é uma ong que ajuda a causa animal, com isto não contribuimos para a venda de animais, apenas apoiamos e praticamos a ação em conjunto com ongs de adoção gratuita.</span>
            </div>
        </div>
    </div>
    

</body>

</html>