<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style6.css">
    <link rel="shortcut icon" href="imagens/logonomecompleto.png" type="image/x-icon">
    <title>Contato</title>
</head>

<body>

    <div>
        <a href=" ../index.html">
            <!--logo-->
            <img class="logo" src="imagens/logo escrito acheipet fundo png.png" alt="logo">
        </a>
    </div>

    <div class="tudoselecionado">
        <div class="container1">
            </br>
            </br>
            <p>
            <div class="titulo">
                Análise da Empresa de Busca de Animais
                </br></br>
            </div>A empresa de busca de animais, cujo foco é ajudar proprietários</br>
            a encontrar animais de estimação perdidos,</br>
            desempenha um papel crucial na comunidade,</br>
            oferecendo um serviço valioso e emocionalmente significativo. </br>
            Este relatório visa fornecer uma análise abrangente sobre a empresa,</br>
            incluindo sua estrutura, operações, desafios enfrentados</br>
            e oportunidades de crescimento.
            <br></br>
        </div>
        <div class="imagems"></br><img class="image" src="imagens/socialpet.png"></br></p>
        </div>
    </div>

    <div class="banner2">
        </br>
        <div class="container2">
            <div class="titulo01">
                Visão Geral da Empresa
                </br></br>
            </div>
            <p>
                A empresa de busca de animais tem como objetivo de reunir animais perdidos com seus donos, </br>
                utilizando uma variedade de recursos e tecnologias para facilitar essa missão.</br>
                A empresa pode oferecer serviços como busca ativa, uso de tecnologia de rastreamento,</br>
                parcerias com abrigos de animais e comunidades locais.</br></br>
            </p>

        </div>
        <br></br>
    </div>

    <div class="banner3">
        <div class="container3">
            </br>
            <div class="div3">
                </br>
                <div class="titulo02">
                    <p>Estrutura Organizacional</p>
                    </br></br>
                </div>
                <div class="textodoContainer3">
                    <p>
                        A estrutura organizacional da empresa pode variar </br>dependendo do tamanho e escopo das
                        operações.</br>
                        No entanto, é comum que a empresa tenha uma equipe central </br>responsável pela coordenação das
                        operações de busca,</br>
                        atendimento ao cliente e parcerias com outras entidades, </br>como abrigos de animais e órgãos
                        governamentais.</br>
                    </p>
                </div>
            </div>
            <div class="div4">
                </br>
                <div class="titulo02">
                    <p> Processos Operacionais</p>
                    </br></br>
                </div>
                <div class="textodoContainer4">
                    <p>Os processos operacionais da empresa envolvem a recepção de relatórios sobre animais
                        perdidos,</br>
                        a coordenação de esforços de busca,</br> a comunicação com os proprietários e a utilização de
                        tecnologia</br> de rastreamento quando disponível. </br>
                        A empresa pode empregar uma abordagem multicanal incluindo linha direta</br>, aplicativos móveis
                        e plataformas online para facilitar o processo de comunicação.</br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="div5">
        <div class="titulo05">
            <p> Desafios
                <img id="desafiosimagen" src="imagens/DesafiosImagens.png">
            </p>
        </div>
        <div class="textodoContainer5">
            <p></br>Os desafios enfrentados pela empresa de busca de animais podem incluir. </br>A falta de recursos para
                cobrir grandes áreas geográficas,</br>
                a dificuldade em localizar animais </br>que não estão equipados com dispositivos de rastreamento e a
                coordenação eficaz com outros intervenientes,</br>
                como abrigos de animais e autoridades locais.</br></p>
        </div>


    </div>
    <div class="div6">
        <div class="bannerQuemSomos">
            </div><div class="container6">
                <div class="titulo06">
                    <p></p>
                </div>
                <div class="textodoContainer6">
                    <p><h1>Somos uma equipe dedicada e apaixonada por animais, </br>comprometida em ajudar famílias a encontrar seus animais de estimação perdidos.</br>
                        Nosso foco está em oferecer um serviço acessível e inclusivo para todos,</br> especialmente para aqueles com recursos limitados.</br> 
                       Acreditamos que cada animal perdido merece ser encontrado</br> Independentemente da situação financeira de seus tutores.</br></h1></p>
                </div>
            </div>
     <!--div 7 começo-->   
    </div>
    <div class="container7">
    </br>
    <div class="div3">
        </br>
        <div class="titulo07">
            <p>cessibilidade | Empatia</p>
            </br></br>
        </div>
        <div class="textodoContainer7">
            <p>
                Queremos ser acessíveis a todos, oferecendo serviços que atendam às necessidades de pessoas de todas as classes sociais.<br>
                Colocamos-nos no lugar dos nossos clientes </br> entendendo a angústia e preocupação de ter um animal de estimação perdido.
            </p>
        </div>
    </div>
    <!--div 7 fim -->
    <!--div 8 começo -->
    <div class="div4">
        </br>
        <div class="titulo08">
            <p> Visão</p>
            </br></br>
        </div>
        <div class="textodoContainer8">
            <p>Nossa visão é criar uma comunidade mais unida e solidária</br> onde todos os animais de estimação perdidos possam ser encontrados e devolvidos às suas famílias.</br> 
                Queremos ser reconhecidos como Uma referência em busca e localização de animais desaparecidos, sempre com foco na inovação e na qualidade dos nossos serviços.</br>

            </p>
        </div>
    </div>
    <!--div 8 fim -->
</br>
</div>

</body>


</html>

<!---- index 5 --

Análise da Empresa de Busca de Animais

A empresa de busca de animais, cujo foco é ajudar proprietários
                a encontrar animais de estimação perdidos,
                desempenha um papel crucial na comunidade,
                oferecendo um serviço valioso e emocionalmente significativo. 
                Este relatório visa fornecer uma análise abrangente sobre a empresa,
                incluindo sua estrutura, operações, desafios enfrentados
                e oportunidades de crescimento.

Visão Geral da Empresa

A empresa de busca de animais opera com o objetivo de reunir animais perdidos com seus donos, 
                utilizando uma variedade de recursos e tecnologias para facilitar essa missão.
                A empresa pode oferecer serviços como busca ativa, uso de tecnologia de rastreamento,
                parcerias com abrigos de animais e comunidades locais.


Estrutura Organizacional

A estrutura organizacional da empresa pode variar dependendo do tamanho e escopo das operações.
                No entanto, é comum que a empresa tenha uma equipe central responsável pela coordenação das operações de busca,
                atendimento ao cliente e parcerias com outras entidades, como abrigos de animais e órgãos governamentais.

Processos Operacionais

Os processos operacionais da empresa envolvem a recepção de relatórios sobre animais perdidos, 
                a coordenação de esforços de busca, a comunicação com os proprietários e a utilização de tecnologia de rastreamento quando disponível. 
                A empresa pode empregar uma abordagem multicanal, incluindo linha direta, aplicativos móveis e plataformas online para facilitar o processo de comunicação.


Desafios

Os desafios enfrentados pela empresa de busca de animais podem incluir a falta de recursos para cobrir grandes áreas geográficas, 
                a dificuldade em localizar animais que não estão equipados com dispositivos de rastreamento e a coordenação eficaz com outros intervenientes, 
                como abrigos de animais e autoridades locais.

Oportunidades de Crescimento

Apesar dos desafios, existem várias oportunidades de crescimento para a empresa de busca de animais.
                 Isso inclui a expansão para novas áreas geográficas, o desenvolvimento de parcerias estratégicas com organizações afins,
                  o investimento em tecnologia de rastreamento mais avançada e a prestação de serviços complementares, como treinamento de busca e recuperação de animais.

--------fim----------------------------------------------------------------------------
----------------index6------------------------------------------------------------------

Quem Somos

Somos uma equipe dedicada e apaixonada por animais, comprometida em ajudar famílias a encontrar seus animais de estimação perdidos.
                Nosso foco está em oferecer um serviço acessível e inclusivo para todos, especialmente para aqueles com recursos limitados. 
               Acreditamos que cada animal perdido merece ser encontrado, independentemente da situação financeira de seus tutores.

cessibilidade | Empatia

Queremos ser acessíveis a todos, oferecendo serviços que atendam às necessidades de pessoas de todas as classes sociais.<br>
                Colocamos-nos no lugar dos nossos clientes, entendendo a angústia e preocupação de ter um animal de estimação perdido.

Visão

Nossa visão é criar uma comunidade mais unida e solidária, onde todos os animais de estimação perdidos possam ser encontrados e devolvidos às suas famílias. 
                Queremos ser reconhecidos como uma referência em busca e localização de animais desaparecidos, sempre com foco na inovação e na qualidade dos nossos serviços.

Inovação | Compromisso

Buscamos constantemente novas tecnologias e métodos para melhorar nossos serviços de localização de animais.
                Esses são os princípios que norteiam o nosso trabalho e nos motivam a ajudar a comunidade de amantes de animais a encontrar seus pets perdidos.<br>
                Somos comprometidos em fazer o máximo para encontrar e devolver os animais perdidos às suas famílias.
------------------------------------------------------------------------------------------- -->