<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link rel="shortcut icon" href="imagens/logonomecompleto.png" type="image/x-icon">
    <title>Contato</title>
</head>
<body>
 
  <img src="imagens/casal.contato.png" class="img">

  <menu>
    <div>
        <a href="../index.html">
            <img class="logo" src="imagens/logonomecompleto.png" alt="logo">
          </a>
    </div>
  

      <div class="form-container">
      <div class="container">
       <form action="">
        <h1> Entre em contato</h1>
        <br>
        <p>
            Preencha o formulário abaixo para que possamos Entrar
            em contato com você.</p>
            <br>
            <div class="input-single">
              <input type="text" name="" id="nome-box" class="input" pattern="[a-zA-Z\s]+$" autocomplete="off" required>
              <label for="nome-box">Nome completo</label>
            </div>

            <div class="input-single">
              <input type="email" name="email" id="email" class="input" autocomplete="off" required>
              <label for="email-box">Seu e-mail</label>
            </div>
            <div class="input-single">
              <input  type="massage" name="message"  rows="10"   id="text-box" class="input" autocomplete="off" required>
              <label for="text-box">Digite sua pergunta</label>
            </div>
            <br>
            <div class="btn"><input type="submit" value=""></div>
      </form>
    </div>
  </div>
  

</body>
</html>


