<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/style/privacidade.css">
    <link rel="shortcut icon" href="imagens/logonomecompleto.png" type="image/x-icon">
    <title>Política de Privacidade</title>
</head>

<body>

    <menu>
        <div>
            <a href="../index.html">
                <img class="logo" src="imagens/logonomecompleto.png" alt="logo">
            </a>
        </div>


        <div class="cards-container">
            <div class="card">
                <div class="img-box">
                    <img src="./imagens/image6.jpg">
                </div>
                <div class="content">
                    <h2>Atualização</h2>
                    <p>
                        Última atualização: 02/12/2024
                        Agradecemos por utilizar nosso site de busca de animais perdidos.
                        Esta Política de Privacidade tem como objetivo explicar como coletamos, usamos, compartilhamos e
                        protegemos as informações pessoais dos usuários.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="img-box">
                    <img src="./imagens/image1.jpg">
                </div>
                <div class="content">
                    <h2>Informações Coletadas</h2>
                    <p>
                        Coletamos informações fornecidas voluntariamente pelos usuários, como nome, endereço de e-mail,
                        número de telefone e outras informações de contato.<br>
                        Podemos coletar informações automaticamente, como endereço IP, tipo de navegador, provedor de
                        serviços de Internet, páginas acessadas e horários de acesso.
                    </p>
                </div>
            </div>


            <div class="cards-container">
                <div class="card">
                    <div class="img-box">
                        <img src="./imagens/image2.jpg">
                    </div>
                    <div class="content">
                        <h2>Uso das Informações</h2>
                        <p>
                            Utilizamos as informações fornecidas para operar e manter o site, responder a dúvidas e
                            fornecer suporte aos usuários.<br>
                            As informações coletadas automaticamente são utilizadas para análise de tendências,
                            administração do site e para melhorar a experiência do usuário.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="img-box">
                        <img src="./imagens/image5.jpg">
                    </div>
                    <div class="content">
                        <h2>Compartilhamento de Informações</h2>
                        <p>
                            Não compartilhamos informações pessoais dos usuários com terceiros, exceto quando necessário
                            para cumprir com obrigações legais ou a pedido do próprio usuário.<br>
                            Podemos compartilhar informações agregadas que não identifiquem individualmente os usuários
                            para fins de marketing, publicidade ou pesquisa.
                        </p>
                    </div>
                </div>
            </div>


            <div class="cards-container">
                <div class="card">
                    <div class="img-box">
                        <img src="./imagens/image7.jpg">
                    </div>
                    <div class="content">
                        <h2>Cookies e Tecnologias Semelhantes</h2>
                        <p>
                            Utilizamos cookies e outras tecnologias de rastreamento para melhorar a funcionalidade do
                            site e personalizar a experiência do usuário.<br>
                            Os usuários podem configurar seus navegadores para recusar todos os cookies ou para indicar
                            quando um cookie está sendo enviado.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="img-box">
                        <img src="./imagens/image3.jpg">
                    </div>
                    <div class="content">
                        <h2>Segurança</h2>
                        <p>
                            Empregamos medidas de segurança para proteger as informações pessoais dos usuários contra
                            acesso não autorizado, alteração, divulgação ou destruição.<br>
                            No entanto, nenhum método de transmissão pela Internet ou método de armazenamento eletrônico
                            é 100% seguro, portanto, não podemos garantir segurança absoluta.
                        </p>
                    </div>
                </div>
            </div>


            <div class="cards-container">
                <div class="card">
                    <div class="img-box">
                        <img src="./imagens/image8.png">
                    </div>
                    <div class="content">
                        <h2>Menores de Idade</h2>
                        <p>
                            Nosso site não é direcionado a menores de 13 anos, e não coletamos intencionalmente
                            informações pessoais de menores de idade. Se tomarmos conhecimento de que coletamos
                            informações de um menor de idade sem o consentimento dos pais, tomaremos medidas para
                            remover essas informações o mais rápido possível.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="img-box">
                        <img src="./imagens/image4.jpg">
                    </div>
                    <div class="content">
                        <h2>Alterações na Política de Privacidade</h2>
                        <p>
                            Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente.
                            Encorajamos os usuários a revisar esta página regularmente para ficarem informados sobre as
                            práticas de privacidade do site.
                        </p>
                    </div>
                </div>
            </div>

</body>

</html>