<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="raca.css">
    <link rel="shortcut icon" href="imagens/logo escrito acheipet fundo png.png" type="image/x-icon">
    <title>Raças de Pets</title>
</head>

<body>

    <menu>
        <div>
            <a href="../index.html">
                <img class="logo" src="imagens/logo escrito acheipet fundo png.png" alt="logo">
            </a>
        </div>
    </menu>

    <div class="cards-container">
        <div class="card">
            <div class="img-box">
                <img src="./imagens/image6.jpg">
            </div>
            <div class="content">
                <h2>Atualização</h2>
                <p>

                </p>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img src="./imagens/image1.jpg">
            </div>
            <div class="content">
                <h2>Informações Coletadas</h2>
                <p>

                </p>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img src="./imagens/image1.jpg">
            </div>
            <div class="content">
                <h2>Informações Coletadas</h2>
                <p>

                </p>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img src="./imagens/image1.jpg">
            </div>
            <div class="content">
                <h2>Informações Coletadas</h2>
                <p>

                </p>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img src="./imagens/image1.jpg">
            </div>
            <div class="content">
                <h2>Informações Coletadas</h2>
                <p>

                </p>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img src="./imagens/image1.jpg">
            </div>
            <div class="content">
                <h2>Informações Coletadas</h2>
                <p>

                </p>
            </div>
        </div>

        <div class="card">
            <div class="img-box">
                <img src="./imagens/image1.jpg">
            </div>
            <div class="content">
                <h2>Informações Coletadas</h2>
                <p>

                </p>
            </div>
        </div>


                    <div class="card">
                        <div class="img-box">
                            <img src="./imagens/image4.jpg">
                        </div>
                        <div class="content">
                            <h2>Alterações na Política de Privacidade</h2>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>


</body>

</html>