<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="imagens/logonomecompleto.png" type="image/x-icon">
    <link rel="stylesheet" href="somos.css">
    <title>Quem Somos</title>
</head>
<body>

  <div class="menu">
    <a href="../index.html" class="logo">
        <img src="imagens/logonomecompleto.png" alt="Logo">
    </a>
    <ul>
      <button>
        <a href="../index.html" target="_blank" class="button-link">Achei Pet</a>
        </button>
      
      <button>
      <a href="index3.html" target="_blank" class="button-link">Login|Entrar</a>
      </button>
    </ul>
</div>

<div class="box">
  <span></span>
  <div class="content">
    <h2>Quem Somos! <br> <br>A ONG ACHEI PET foi criada com o objetivo de auxiliar os donos de pets na divulgação de seus bichinhos perdidos, entrando em conjunto com a comunidade de sua cidade.
    <br> Tendo o conceito de ajudar os pais de pet com seus bichinhos, também entramos com a divulgação de castração, vacinação e adotação de cães e gatos.<br>
 Por meio de nosso site ajudamos nas informações e auxílio nesses casos, contamos também com uma rede social para postagens de fotos e compartilhamento de informações.<br>
 Contamos com parcerias de empresas de PET SHOP e também com a ajuda de colaboradores que contribuem com esta causa animal e social de nosso país.<br>
 Com o compromisso de fazer a diferença, a ACHEI PET se estabelece como uma organização engajada na promoção de ações concretas para a melhoria da vida dos animais e a conscientização da população, tornando-se um exemplo de solidariedade e cuidado em um conjunto social.</h2>

  </div>
</div>

</body>
</html>