<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="imagens/logonomecompleto.png" type="image/x-icon">
    <link rel="stylesheet" href="suporte.css">
    <title>Suporte ao Cliente</title>
</head>

<body>


    <!--Menu-->
    <div class="menu">
        <a href="index.html" class="logo">
            <img src="imagens/logonomecompleto.png" alt="Logo">
        </a>
        <ul>
            <li><a href="index.html">Achei Pet</a></li>
            <li><a href="index3.html">Login|Entrar</a></li>
        </ul>
    </div>

    <!--banner fundo-->
    <div class="banner">
    </div>

    <!--h1 frase no banner-->
    <div class="banner-message">
        <h1>Como Podemos lhe ajudar?</h1>
    </div>

    <!--barra de pesquisa-->
    <form class="form">
      <button type="submit">
          <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
              <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
      </button>
      <input class="input" placeholder="Pesquisar..." required="" type="text">
      <button class="reset" type="reset">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
      </button>
  </form>
  

    <!--card animado-->
    <div class="cards-container">
      <div class="card">
          <div class="card-inner">
              <div class="card-front">
                <img src="./imagens/cadastro.acesso.png" alt="Logo">
                  <p><h3><strong>Cadastro</strong></h3></p>
              </div>
              <div class="card-back">
                  <p><strong>Se cadastre para uma melhor experiência.</strong></p>
                  <a href="cadastro.html" target="_blank" class="button-link">Acesso</a>
              </div>
          </div>
      </div>
      <!-- os outros cards aqui -->
      <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="./imagens/parceria.png" alt="Logo">
                <p><h3><strong>Parcerias</strong></h3></p>
            </div>
            <div class="card-back">
                <p><strong>Faça parte de nosso projeto social.</strong></p>
                <a href="parceiros.html" target="_blank" class="button-link">Acesso</a>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="card-inner">
          <div class="card-front">
            <img src="./imagens/contato.png" alt="Logo">
              <p><h3><strong>Contato</strong></h3></p>
          </div>
          <div class="card-back">
              <p><strong>Entre em contato com nossa equipe.</strong></p>
              <a href="index2.html" target="_blank" class="button-link">Acesso</a>
          </div>
      </div>
  </div>
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./imagens/politica de privacidade.png" alt="Logo">
            <p><h3><strong>Política de<br>Privacidade</strong></h3></p>
        </div>
        <div class="card-back">
            <p><strong>Termos e políticas sobre a Achei Pet</strong></p>
            <a href="privacidade.html" target="_blank" class="button-link">Acesso</a>
               
        </div>
    </div>
</div>
    </div>
</body>

</html>